#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* .form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  border-color: #101010;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.login-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background:white; 
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background:white; 
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

 /* @media (max-width:400px){
.register-page {
  width: 100%;
  padding: 50px;
  }
 } */
 


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display:block;
  margin-bottom: 5px;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.btn {
  width: 75%;
  padding: 5px;
  background-color: #041b5a;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  
}

.btn-theme{
  border: 1px solid #0a0a0a;

}



.btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.home-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 /* overflow:hidden; */
}



/* Header styles */
.Emp-header {
  background-color: hsl(30, 15%, 5%);
  position: fixed;
  top: 0;
  padding:  10px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 99%;
  z-index: 1000;
  height: 35px;
  left:2px;
font-family:'Times New Roman';
    /* text-size-adjust: 100%; */
}

.Emp-header img {
  height: 40px;
  vertical-align: middle;
  position: absolute;
  left:20px;
  bottom:8px;
}

.Emp-header nav a {
  margin: 0 15px;
  /* margin-top: 10px;
  margin-bottom: 1px; */
  color: white;
  text-decoration: none;
}

.Emp-header nav a:hover {
  text-decoration: underline;
}

.Emp-header h1 {
  color: white;
  display: inline-block;
  font-size: 24px;
  /* font-size: 30px; */
  font-family:'Times New Roman';
  vertical-align: middle;
  /* margin-top: 5px;
  margin-bottom: 15px; */
}


.Emp-footer {
  background-color: #266060;
  /* padding:1px 1px 1px 1px; */
  padding: 10px 0;
  color: white;
  text-align:center;
  display: flex;
  justify-content:center; 
  align-items: center;
  position:fixed;
  left: 1px;
  width: 99.9%;
  bottom: 0;
  height: 20px;
  z-index: 1000;
}



/* Background colors for different pages */
body.login-page {
  background-color: #e0f7fa; /* Light cyan for Login page */
}

body.home-page {
  background-color: #42707b; /* White for Home page */
}

body.register-page {
  background-color: #e8f5e9; /* Light green for Register page */
}

/* Example header styling */
.header {
  padding: 20px;
  text-align: center;
}

/* Example content styling */
.home-container {
  padding: 30px;
  border: 1.5px solid #0a0a0a;
  

}

.btn {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}


/* Light Theme Styles */
body.light {
  background-color: white;
  color: black;
}

.home-container.light {
  background-color: white;
  color: black;
}

.App-header.light {
  background-color: hsl(207, 28%, 40%);
  color: white;
}

.App-footer.light {
  background-color: #585b5b;
  color: white;
}

/* Dark Theme Styles */
body.dark {
  background-color: black;
  color: white;
}

.home-container.dark {
  background-color: black;
  color: white;
}

.App-header.dark {
  background-color: hsl(207, 28%, 20%);
  color: white;
}

.App-footer.dark {
  background-color: #282c34;
  color: white;
}

#welcome-text {
  /* margin-bottom: auto; */
  display: block;
  visibility: visible;
  color: rgb(30, 26, 30); /* Ensure the text color is not the same as the background */

}


.table {
  border-collapse:collapse;
  table-layout: auto;
  /* border-spacing: 5px; */
  width:100%;
}

.table, .table th, .table td {
  border: 1.5px solid black;
  text-align: center;
  text-size-adjust: auto;


}

.pagination {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #eee;
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #312a6b;
  color: #101010;
}

